<div class="container-fluid">
  <div class="row">
      <div class="col-sm-auto bg-light sticky-top">
          <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
              <a routerLink="/Dashboard" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                <img src="../assets/img/favicon-32x32.png" alt="" srcset="">
              </a>
              <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                  <li class="nav-item">
                      <a routerLink="/dashboard" class="nav-link py-3 px-3 bg-light" style="color: grey;" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                          <i class="bi-house fs-3"></i>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/addStudent" class="nav-link py-3 px-3 text-bg-primary" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <i class="bi bi-person-plus fs-3"></i>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/actionMark" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders" data-bs-original-title="addMark">
                        <i class="bi bi-cloud-plus fs-3"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                        <i class="bi bi-book fs-3"></i>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/studentList" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                          <i class="bi-people fs-3"></i>
                      </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle bg-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://i.imgur.com/hczKIze.jpg" width="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#" (click)="OnUserLogout()">Log out</a>
                    </div>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-sm p-3 min-vh-100">
      <!--add-student content -->
      <section class="vh-100">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add New Student</p>
                      <!--input controls -->
                      <form class="mx-1 mx-md-4">

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="form3Example1c" class="form-control" name="first_name"
                              [(ngModel)]="first_name">
                            <label class="form-label" for="form3Example1c">First Name</label>
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="form3Example1c" class="form-control" name="last_name"
                              [(ngModel)]="last_name" />
                            <label class="form-label" for="form3Example1c">Last Name</label>
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="form3Example3c" class="form-control" name="age" [(ngModel)]="age" />
                            <label class="form-label" for="form3Example3c">Age</label>
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="form3Example3c" class="form-control" name="email"
                              [(ngModel)]="email" />
                            <label class="form-label" for="form3Example3c">Email</label>
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="form3Example3c" class="form-control" name="phone_number"
                              [(ngModel)]="phone_number" />
                            <label class="form-label" for="form3Example3c">Phone Number</label>
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="form3Example3c" class="form-control" name="image"
                              [(ngModel)]="image" />
                            <label class="form-label" for="form3Example3c">Image (link)</label>
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="form3Example3c" class="form-control" name="location"
                              [(ngModel)]="location" />
                            <label class="form-label" for="form3Example3c">Location</label>
                          </div>
                        </div>

                        <!--buttons -->

                        <div class="d-flex justify-content-end pt-3 text-center">
                          <button type="button" class="btn btn-light btn-lg" (click)="OnResetedForm()">Resetall</button>
                          <button type="button" class="btn btn-warning btn-lg ms-3"
                            (click)="OnAddedStudent()">Submitform</button>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-inline-block align-items-center order-1 order-lg-2">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                        class="img-fluid" alt="Sample image">
                      <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                        <!--radio controls -->
                        <h6 class="mb-0 me-4">Gender:</h6>

                        <div class="btn-group">
                          <input mdbRadio type="radio" class="btn-check" name="options" id="optionGender1" autocomplete="off"
                            value="Male" [(ngModel)]="gender" />
                          <label class="btn btn-primary" style="background-color: rgba(87, 53, 19, 0.486);" for="optionGender1">Male</label>
                          <input mdbRadio type="radio" class="btn-check" name="options" id="optionGender2" value="Female"
                            [(ngModel)]="gender" autocomplete="off" />
                          <label class="btn btn-primary" style="background-color: rgb(255, 168, 182);" for="optionGender2">Female</label>
                          <input mdbRadio type="radio" class="btn-check" name="options" id="optionGender3"
                            value="Other" [(ngModel)]="gender" autocomplete="off" />
                          <label class="btn btn-primary" style="background-color: rgb(218, 220, 237);" for="optionGender3">Other</label>
                        </div>

                      </div>
                      <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                        <h6 class="mb-0 me-4">Profile: </h6>

                        <div class="btn-group">
                          <input mdbRadio type="radio" class="btn-check" name="option" id="option1" autocomplete="off"
                            value="Math-Physical" [(ngModel)]="proffesion" />
                          <label class="btn btn-danger" for="option1">Math-Physical</label>
                          <input mdbRadio type="radio" class="btn-check" name="option" id="option2" value="Math-IT"
                            [(ngModel)]="proffesion" autocomplete="off" />
                          <label class="btn btn-primary" for="option2">Math-IT</label>
                          <input mdbRadio type="radio" class="btn-check" name="option" id="option3"
                            value="Bio-Chemical" [(ngModel)]="proffesion" autocomplete="off" />
                          <label class="btn btn-warning" for="option3">Bio-Chemical</label>
                          <input mdbRadio type="radio" class="btn-check" name="option" id="option4"
                            value="Art-Geographical" [(ngModel)]="proffesion" autocomplete="off" />
                          <label class="btn btn-success" for="option4">Art-Geographical</label>
                          <input mdbRadio type="radio" class="btn-check" name="option" id="option5"
                            value="Art-Humanistic" [(ngModel)]="proffesion" autocomplete="off" />
                          <label class="btn btn-dark" for="option5">Art-Humanistic</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


