<div class="container-fluid">
  <div class="row">
      <div class="col-sm-auto bg-light sticky-top">
          <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
              <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                <i class="bi bi-journal-richtext fs-2"></i>
              </a>
              <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                  <li class="nav-item">
                      <a routerLink="/Dashboard" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                          <i class="bi-house fs-3"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <i class="bi bi-person-plus fs-3"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                        <i class="bi bi-cloud-plus fs-3"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                        <i class="bi bi-book fs-3"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                          <i class="bi-people fs-3"></i>
                      </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bi-person-circle h2 fs-3"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#" (click)="OnUserLogout()">Log out</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-sm p-3 min-vh-100">
          <!-- content -->

      </div>
  </div>
</div>
